.hidden {
  display: none !important;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.column-full, {
  width: 100%;
}

.show {
  display: block;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
}
