body {
  background-image: url("../images/background.png");
  background-color: #000;
  background-size: cover;
  background-repeat: no-repeat;
}

.navbar {
  background-color: rgb(61, 54, 56);
  display: flex;
  height: 50px;
  align-items: center;
}

.navitems {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 30%;
  justify-content: space-between;
  align-items: center;
  color: rgb(207, 146, 89);
  font-family: Raleway, sans-serif;
  padding-left: 20px;
}

.navitems:hover {
  cursor: pointer;
}

.logo {
  font-family: Lobster, cursive;
  color: white;
  font-size: 25px;
  padding-bottom: 5px;
}
